<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="UTF-8"/>
<title>Thymeleaf example</title>
<link rel="stylesheet" th:href="@{/spring/resources/css/styles.css}" type="text/css" media="screen"/>
<script th:src="@{/spring/resources/js/functions.js}" type="text/javascript"></script>
</head>

<body>
<h1 th:text="#{home.title}">Thymeleaf example</h1>

<div class="generic-info">
	<h3 th:text="#{hotel.information}">Hotel Information</h3>
	
	<span th:text="${hotelData.name}">Hotel name</span><br />
	<span th:text="${hotelData.address}">Hotel address</span><br />
</div>


<div class="main-block">
	<div class="search-block">
		<label for="searchName">Search name:</label>
		<input type="text" id="searchName" name="searchName"/> 
		
		<button id="searchButton" name="searchButton" onclick="testFragment3('hola')" type="button">Search</button>
	</div>
	
	<!-- Results block -->
	<div id="resultsBlock" class="results-block" th:unless="${#lists.isEmpty(guests)}">
		
	</div>
</div>


</body>
</html>